$defaultText: #434d52;
@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@mixin defaultIcon($size) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: $size;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre, 
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  color: #434d52;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #ffffff;
  color: #434d52;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header {
  &-top {
    background-color: #d0d2d4;
    &:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      top: 2px;
      left: 0;
      background: #ffffff;
    }
  }
  &-bottom {
    background-color: #ecebeb;
  }
  & .lang {    
    &-btn {
      color: #999;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 11px;
      &:after {
        font-weight: 300;
        font-size: 6px;
      }
    }
    &-dropdown {
      box-shadow: 0 0 3px rgba(0,0,0,.25);
      background: #ffffff;
      transition: all .2s ease-in-out;
      &:before {
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        background: #ffffff;
        transform: rotate(45deg);
        top: -3px;
        left: 14px;
        z-index: -1;
				box-shadow: -1px -1px 1px rgba(0, 0, 0, .1);
      }
    }
    &-item {
      color: #999;
      text-decoration: none;
      display: block;
      font-size: 11px;
      transition: all .3s ease-in-out;
      z-index: 2;
      text-transform: uppercase;
      &:hover {
        background: #ecebeb;
      }
    }  
  }
  &-menu {
    & .menu-link {
      color: #444d53;
      text-decoration: none;
			font-size: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-search {
    & input {
      background: #fff;
      color: #777;
      border: 1px solid #ccc;
      &:focus {
        border-color: rgba(82, 168, 236, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.3);
        outline: 0 none;
      }
    }
    & button {
      cursor: pointer;
      background: #ecebeb;
      border: 1px solid #ccc;
      border-left: none;
    }
  }
	&-favourite, &-account, &-cart {
    & i {
			font-size: 24px;
		}
  }
  &-cart {
    & .cart-total {
      background-color: #ed5348;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-categories {
    & .categories-link {
      font-weight: 700;
      text-transform: uppercase;
      color: $defaultText;
			font-size: 12px;
      text-decoration: none;
      transition: all .3s ease-in-out;
      &:hover {
        background: #ffffff;
        color: #ffa600;
      }
    }
  }
}

.breadcrumb {
  &-link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
		& span {
			font-size: 13px;
		}
  }
	&-item:after {
		font-size: 9px;
		font-weight: 900;
	}
}

.sidebar {
  &-title {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    cursor: pointer;
    &.active {
      & button i {
        transform: rotate(-180deg);
      }
    }
    &:hover {
      & .sidebar-toggle {
        background: #d0d2d4;
        & i {
          color: #ffffff;
        }
      }
    }
  }
  &-toggle {
    background: #fff;
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    & i {
      transition: all .3s ease-in-out;
      font-size: 8px;
    }
  }
  &-content {
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fbfbfb;
    & .filter-remove {
      &:before, &:after {
        content: '';
        width: 15px;
        height: 1px;
        display: block;
        background: #333333;
        position: absolute;
        top: calc(50% - .5px);
        left: calc(50% - 7.5px);
      }
      &:before {
        transform: rotate(-135deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    & .filter-brand {
      margin: 0 8px 0 4px;
      font-weight: 700;
    }
  }
}

.filter-clear {
  border: 1px solid #ddd;
  border-top: none;
  background-color: #f5f5f5;
  & .clear-btn {
    color: #D0D2D4;
    text-align: right;
    text-transform: none;
    text-decoration: none;
    font-weight: 400;
    &:hover {
      color: $defaultText;
      text-decoration: underline;
    }
  }
}
.slider-range-total {
  & input {
    text-align: center;
    border: none;
    background: transparent;
  }
}
.filter-search {
  & input {
    background: #fff;
    color: #777;
    border: 1px solid #ccc;
  }
}
.more-filters {
  color: $defaultText;
}

.products h1 {
	font-weight: 700;
	font-size: 30px;
}

.sort-by-title {
	& .icon-sort-arrow {
		color: #ecebeb;
	}
}

.select-wrapper {
	&:before {
		font-family: 'icomoon';
		content: "\e900";
		position: absolute;	
		transform: rotate(90deg);
    font-size: 10px;
    top: calc(50% - 6px);
    right: 8px;
		pointer-events: none;
	}
	& select {
		background: #fff;
		font-size: 13px;
    border: 1px solid #ccc;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
}

.product {
	&-item {
		color: $defaultText;
		border: 1px solid transparent;
		&:hover {
			border-color: #333333;
			z-index: 2;
			& .product-options {
				display: block;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&-title {
		font-weight: 600;
		font-size: 20px;
	}
	&-subtitle {
		font-size: 13px;
	}
	&-parameters {
		& .key {
			font-weight: 700;
		}
	}
	&-price {
		display: flex;
		align-items: center;
		& .new-price {
			font-weight: 600;
			font-size: 16px;
			& span {
				font-weight: 600;
			}
		}
		& .old-price {
			color: #a7a7a7;
			font-weight: 600;
			font-size: 16px;
			& span {
				font-weight: 600;
				color: #a7a7a7;
			}
		}
	}
	&-options {
		& .product-sizes {
			border: 1px solid #333333;
			border-top: none;
			background: #ffffff;
		}
		& .sizes-title {
			font-size: 15px;
		}
		& .sizes-list {
			& li {
				background: #f0f0f0;
				outline: 1px solid #999;
			}
		}
	}
}
.pagination {
	& .page-number {
		border: 1px solid #d1d1d1;
    color: #d1d1d1;
    font-weight: 500;
    font-size: 16px;
		cursor: pointer;
		transition: all .2s ease-in-out;
		& i {
			transition: all .2s ease-in-out;
			color: #d1d1d1;
			font-size: 12px;
		}
		&:hover {
			background: #d0d2d4;
			color: #fff;
			& i {
				color: #fff;
			}
		}
	}
}

.recommendations {
	background: #efefef;
	&-list {
		list-style: none;
	}
	&-link {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.footer {
	background-color: #d0d2d4;
	&-title {
		font-size: 17px;
	}
	&-list {
		list-style: none;
	}
	&-link {
		text-decoration: none;
		color: inherit;
		&:hover {
			text-decoration: underline;
		}
	}
	&-nav {
		&__link {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.newsletter {
	& input {
    background-color: #dcdcdc;
		outline: none;
	}
	& button {
		background-color: #ffa600;
		border: 1px solid #ffa600;
    color: #FFFFFF;
		box-shadow: none;
    font-size: 14px;
		cursor: pointer;
		transition: all .3s ease-in-out;
		&:hover {
			background: #dcdcdc;
			color: #ffa600;
		}
	}
}
.social-icons {
	& .social-link {
		& img {
			transition: all .3s ease-in-out;
		}
		&:hover {
			& img {
				transform: scale(1.08);
			}
		}
	}
}
@media (max-width: 1200px) {
	.product-item {
		width: 31%;
	}
}
@media (max-width: 992px) {
	.product-item {
		width: 47%;
	}
}
@media (max-width: 767px) {
	.search-link-mobile {
		text-decoration: none;
	}
	.search-link-mobile i {
		font-size: 20px;
    font-weight: 700;
	}
	.sidebar {
    background: #ffffff;
		transition: all .3s ease-in-out;
	}
	.products-text .more-btn {
    font-weight: 600;
	}
}
@media (max-width: 576px) {
	.product-title {
		font-size: 19px;
	}
	.product-subtitle {
		font-size: 17px;
	}
	.product-item {
		width: 46%;
		padding: 20px 4px;
	}
}


.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
  background: #b6b6b6;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
  background: #dadada;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -5px;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	// border: 1px solid #c5c5c5;
	// background: #f6f6f6;
	font-weight: normal;
	color: #454545;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f98b25;
	outline: none;
}
